body {
    padding-left: 11em;
    font-family: Impact, Georgia, "Times New Roman", Times, serif;
    color: black;
    background-color: grey }

ul.navbar {
    margin-top: 5vw;
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 5em;
    left: 1em;
    width: 10em }

h1 {
    text-align: center;
    font-size: 5vw }


ul.navbar li {
    text-align: center;
    background-color: lightgrey;
    width: 10vw;
    padding: 1vw;
    border-bottom: 1px solid black;
    transition: 0.3s;
    color: grey;
}

ul.navbar li:hover {
    width: 15vw;
    color: black;
    font-weight: bold;
}


ul.navbar a {
    color: inherit;
    font-size: 2vw;
    font-family: Impact, Georgia;
    text-decoration: none }


address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }

#vis {
    background-color: lightgrey;
    margin-left: 15%;
    height: 70%;
    width: 70%;
    border-radius: 2vw;
    transition: 0.3s;
}

#vis:hover {
    margin-left: 10%;
    width: 80%;
    height: 80%;

}

img {
    float: left;
    margin-left: 3vw;
    margin-top: 3vw;
    border-radius: 2vw;
    width: 18vw;
    height: 21vw;
    transition: 0.3s;
}

img:hover {
    width: 20vw;
    height: 23vw;
}

h2 {
    border-bottom: 1px solid black;
}

.infoBlock {
    float: right;
    margin-right: 15%;
    text-align: center;
    background-color: lightgrey;
    border-bottom: 1px solid black;
    height: auto;
    width: 50vw;
    display: inline-block;
    transition: 0.3s;
    font-size: 2vw;
}

.infoBlock:hover{
    font-size: 3vw;
}

.field {
    font-weight: normal;
    color: #505050;
    margin-top: 0.25vw;
}

.info {
    font-weight: bold;
    margin-top: 0px;
}
