<html>
<head> 
	<title>Bem vindo ao nosso Banco de Dados!</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
  <script src="{{url_for('static', filename='drawGraph.js')}}"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <style>
   ul.navbar li {
       width: 16vw;
   }

   ul.navbar li:hover {
       width: 18vw;
   }

   #vis {
       position: fixed;
       background-color: whitesmoke;
       height: 60%;
       width: 60%;
       border-radius: 2vw;
       transition: 0.3s;
   }

   #vis:hover {
       width: 70%;
       height: 70%;
   }
  </style>

</head>

<body onload="draw({{cypher}})">
	<ul class="navbar">
      {%for orgao in orgaos%}
      <li><a href="{{ url_for("ficha_orgao", orgao=orgao)}}">{{orgao}}</a></li>
      {%endfor%}
  </ul>

	<h1>Órgãos</h1>
  <div id="vis"></div>

</body>
</html>
